{% extends 'temp/main_org.html' %}
{% block base %}

<!DOCTYPE html>
<html>
<head>
	<title>VIEW</title>
</head>
<body>
	<center>
    <h2 style="color: black">VIEW FACILITY</h2>
	<table border="2" class="table table-bordered">
	<tr>
		<td>FACILITY TYPE</td>
		<td>LOCATION</td>
		<td>IMAGE</td>
		<td>PHONENUMBER</td>
		<td>STATUS</td>
	</tr>
        {% for i in a %}
    <tr>
		<td>{{ i.facility_type }}</td>
		<td>{{ i.location }}</td>
		<td><img src="/static/{{ i.image }}" height="50"></td>
		<td>{{ i.phone_number }}</td>
        <td>{{ i.status }}</td>
{#		<td><a href="">Working</a></td>#}
{#       <td><a href="">Closed</a></td>#}
        <td><a href="/facility/ working/{{ i.facility_id }}" class="btn btn-primary">working</a></td>
            <td><a href="/facility/closed/{{ i.facility_id }}" class="btn btn-primary">closed</a></td>
    <td><a href="/details/post_details/{{ i.facility_id }}" class="btn btn-primary">DETAILS</a> </td>
    </tr>
        {% endfor %}
   </table>
</center>
</body>
</html>
{% endblock %}