{% extends 'temp/main_user.html' %}
{% block base %}

<!DOCTYPE html>
<html>
<head>
	<title>view</title>
</head>
<body>
	<center>
    <h2 style="color: black">VIEW REPLY</h2>
<table border="1" class="table table-bordered">
	<tr style="color: black">
		<td>REPLY</td>
		<td>USER</td>
		<td>COMPLAINT</td>
		<td>DATE</td>
		<td>TIME</td>
	</tr>

	<tr>
        {% for i in r %}
		<td>{{ i.reply }}</td>
        <td>{{ i.user.user_name}}</td>
		<td>{{ i.complaint }}</td>
		<td>{{ i.date }}</td>
		<td>{{ i.time }}</td>


	</tr>
    {% endfor %}
</table>
</center>

</body>
</html>
{% endblock %}